.git
.github
.pytest_cache
__pycache__
*.py[cod]
*.pyo
.coverage
htmlcov

node_modules
venv
*.egg-info
*.tar
*.tar.gz
*.zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs
appliance
*.pdf
*.docx

.env
.env.*
!.env.example

dist/**/*.map
src
tests
tsconfig*.tsbuildinfo
